USE [master]
GO
/****** Object:  Database [Nkdb]    Script Date: 2018/11/30 11:00:10 AM ******/
CREATE DATABASE [Nkdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nkdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Nkdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nkdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Nkdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nkdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nkdb]
GO
/****** Object:  Table [dbo].[Tribe]    Script Date: 2018/11/30 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tribe](
	[TribeId] [int] IDENTITY(1,1) NOT NULL,
	[TribeName] [varchar](50) NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK_Tribe] PRIMARY KEY CLUSTERED 
(
	[TribeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/11/30 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Middlename] [varchar](50) NULL,
	[Lastname] [varchar](50) NOT NULL,
	[IDNumber] [varchar](50) NOT NULL,
	[TribeId] [int] NULL,
	[Age] [int] NULL,
	[AspUserId] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetTribes]    Script Date: 2018/11/30 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetTribes]
AS
	BEGIN
		SELECT TribeId, TribeName
		FROM Tribe
		WHERE Visible = 1
	END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 2018/11/30 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RegisterUser]
@Firstname VARCHAR(50),
@Middlename VARCHAR(50),
@Lastname VARCHAR(50),
@IDNumber VARCHAR(20),
@Email VARCHAR(50),
@TribeId INT,
@Password VARCHAR(50),
@Age INT,
@AspUserId BIGINT

AS

BEGIN
	INSERT INTO [User] (EmailAddress,Password,Firstname,Middlename,Lastname,IDNumber,TribeId,Age,AspUserId)
				VALUES (@Email,@Password,@Firstname,@Middlename,@Lastname,@IDNumber,@TribeId,@Age,@AspUserId)
END
GO
USE [master]
GO
