@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <h1 class="mainHeading">
                <span class="caveart">a</span>      National Khoisan Database        <span class="caveart">b</span>
            </h1>
        </div>
        <div class="col-1"></div>
    </div>

    @*<div class="row">&nbsp;</div>*@

    <div class="row">
        <div class="col">
            <div class="card h-100 w-75 mx-auto">
                <div class="card-header">
                    About Us <span class="caveart">c</span>
                </div>
                <div class="card-body">

                    Rock Art is the signature of our Forefathers as Confirmation,
                    on our Cart and Transport to the KhoiSan Nation and the World, as proof that we the KhoiSan First Indigenous Nation,
                    are the legal and only true owners of South Africa.
                    I am a pensioner that took the initiative to have this KhoiSan Database & Family Tree designed, for the advantage,
                    benefit and prosperity of the whole KhoiSan Nation, with the hope of your dedicated and continued support.

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 w-75 mx-auto">
                <div class="card-header">
                    Our purpose <span class="caveart">d</span>
                </div>
                <div class="card-body">

                    The purpose for the creation of this very important and long overdue National KhoiSan Database and Family Tree,
                    is for the KhoiSan First Indigenousness Nation Only.
                    For your Personal and Historical recordings, entered by you & can only be accessed by you, with your personal credentials.
                    A small once off registration fee will give you access to correspondence, our own social media, Family Tree,
                    at any given time of your choosing & more etc.

                </div>
            </div>
        </div>

    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col">
            <div class="card h-100 w-75 mx-auto">
                <div class="card-header">
                    Phase 2 <span class="caveart">e</span>
                </div>
                <div class="card-body">

                    Once the second stage “KEE” kicks in, Tribe leaders will be able to communicate with their sub ordinates.
                    For example, local, provincial and possible National meetings if it is so desied, will once logged,
                    be available to be accessed by their respective Tribe Leaders. Individuals, friends, family, groups, business,
                    organizations, schools, crèches, church, will all be maintained under the “KEE Initiative.

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 w-75 mx-auto">
                <div class="card-header">
                    Human Rights <span class="caveart">f</span>
                </div>
                <div class="card-body">

                    Freedom of Speech & Justice is Human Rights, so let’s see how the following is going to play out in this scenario.
                    The word Human Rights & Justice is hollow, empty, useless, meaningless & nonexistent, in the South African context,
                    as far as the KhoiSan First Indigenous Nation of South Africa is concerned. We do not enjoy the Essenes, benefits and
                    real meaning of what Human Rights and Justice stand for, are composed of and composed for, as far as I am concerned.

                </div>
            </div>
        </div>

    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col">
            <div class="card h-100 w-75 mx-auto">
                <div class="card-header">
                    Human Rights Continued <span class="caveart">h</span>
                </div>
                <div class="card-body">

                    How is it possible that members of the United Nations, people that are supposedly to be specialist
                    in their field of expertise, could have got it so far wrong, after months or maybe years of consultations, and negotiations
                    Did they not consult their Historical and Legal advisors? Or did they purposely make an overnight decision to hand over our Country to people,
                    that they knew are Historically not the First Indigenous People and Legal Owners of South Africa. While the original inhabitants are marginalized and ignored.

                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 w-75 mx-auto">
                <div class="card-header">
                    Human Rights Continued <span class="caveart">g</span>
                </div>
                <div class="card-body">

                    And it will remain as such for as long as our rights, birth right, land rights and dignity has not been restored.
                    What happened to the Worldly Proclaimed Human Rights & Justice? Has It made way to certain nations, feelings, wealth, oil, favor, vote, & or support.
                    Is the United Nations & The Hague still Functioning sanely.

                </div>
            </div>
        </div>

    </div>
</div>


